@model EventDto
@{
}


<div class="row">
    <div class="col-mid-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Available Venues</h2>


        <form method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
            <label class="col-sm-4 col-form-label">EventType</label>
            <div class="col-sm-8">
                <select class="form-select" asp-for="EventType">
                    <option value='Other'>Other</option>
                    <option value='Wedding'>Wedding</option>
                    <option value='Birthday'>Birthday</option>
                    <option value='NamingCeremony'>NamingCeremony</option>
                    <option value='International Conference'>International Conference</option>
                </select>
            </div>
    </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Location</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Location">
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
            </div>


            <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Price</label>
            <div class="col-sm-8">
                <input class="form-control" asp-for="Price">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
    </div>

            <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Description</label>
            <div class="col-sm-8">
                <textarea class="form-control" asp-for="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
    </div>

            <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Image</label>
            <div class="col-sm-8">
                <input class="form-control" asp-for="ImageFile">
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
    </div>

         <div class="row">
             <div class="offset-sm-4 col-sm-4 d-grid">
                 <button type="submit" class="btn btn-primary">Submit</button>
             </div>
             <div class="col-sm-4 d-grid">
                 <a class="btn btn-outline-primary" asp-controller="Events" asp-action="Index" role="buttom">
                     Cancel
                 </a>
             </div>
         </div>   
        </form>
    </div>
</div>