<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <style>
        /* Centering the heading */
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Your Event, Our Passion, Perfection Guaranteed!</h1>
    <br />
    <form id="form" runat="server">
        <div class="container">
            <div style="text-align: center;">
                <img src="~/Event's/logo_transparent.png" height="65%" width="100%" />
            </div>
        </div>
    </form>
</body>
</html>

