
@{
    ViewData["Title"] = "Privacy";
}
<h1>@ViewData["Title"]</h1>

<p>


    PRIVACY WARNING:<br />

    Your privacy is important to us. By using our web application, you agree to the following:<br />

    * We may collect personal information you provide voluntarily.<br />
    * Your information will only be used to enhance your experience and improve our services.<br />
    * Third-party services may collect data according to their own policies.<br />
    * We use cookies to improve your browsing experience.<br />
    * Your consent is implied by using our application.<br />
    * Our privacy policy may be updated periodically.<br />
    * Contact us for any privacy concerns.<br />
</p>









<p>This is a copyright website</p>